<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calendartestapp">

    <application>
        <activity
            android:name="de.sixbits.testrobolectrichilt.HiltTestActivity"
            android:exported="true" />
    </application>
</manifest>